{% extends 'layouts.html'%}

{%block content%}
{%include 'util.html'%}
<div class="d-flex flex-row justify-content-around">
  <div class="card mx-5 w-50">
<div class="card-header">Insert System to Solve</div>
<div class="card-body">
  <form method="POST" action="">
    {{form.hidden_tag('self')}}
    <fieldset>
      <div class="form-group">
        {{ form.csrf_token }}
        {{form.x.label(class="form-control-label")}} 
        {%if form.x.errors%} 
        {{form.x(class="form-control is-invalid")}}
        {%for error in form.x.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.x(class="form-control")}} 
        {%endif%}
        <br>
        {{form.y.label(class="form-control-label")}} 
        {%if form.y.errors%} 
        {{form.y(class="form-control is-invalid")}}
        {%for error in form.y.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.y(class="form-control")}} 
        {%endif%}
        <br>
        {{form.val.label(class="form-control-label")}} 
        {%if form.val.errors%} 
        {{form.val(class="form-control is-invalid")}}
        {%for error in form.val.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.val(class="form-control")}} 
        {%endif%}
      </div>
    </fieldset>
    <br />
    <div class="field-group">
      {{form.submit(class="btn btn-primary")}}
    </div>
  </form>
</div>
</div>
{% if result |length >1 %}
<div class="card mx-5 w-50">
  <div class="card-header">Result</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item"><span class="fw-bold">Polynomial </span>$$p(x)={{ result['expr'] }}$$</li>
      <li class="list-group-item"><span class="fw-bold">Result </span>$$p({{result['val']}}) = {{ result['p'] }}$$</li>
    </ul>
    <img class="card-img-bottom graph" src="data:image/png;base64,{{ result['img'] }}">
  </div>
</div>
{% endif %}
</div>

{%endblock content%}