{% extends 'layouts.html'%}

{%block content%}
{%include 'util.html'%}
<div class="d-flex flex-row justify-content-around">
  <div class="card mx-5 w-50">
<div class="card-header">Insert System to Solve</div>
<div class="card-body">
  <form method="POST" action="">
    {{form.hidden_tag('self')}}
    <fieldset>
      <div class="form-group">
        {{ form.csrf_token }}
        {{form.a.label(class="form-control-label")}} 
        {%if form.a.errors%} 
        {{form.a(class="form-control is-invalid")}}
        {%for error in form.a.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.a(class="form-control")}} 
        {%endif%}

        {{form.b.label(class="form-control-label")}} 
        {%if form.b.errors%} 
        {{form.b(class="form-control is-invalid")}}
        {%for error in form.b.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.b(class="form-control")}} 
        {%endif%}

        {{form.x0.label(class="form-control-label")}} 
        {%if form.x0.errors%} 
        {{form.x0(class="form-control is-invalid")}}
        {%for error in form.x0.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.x0(class="form-control")}} 
        {%endif%}

        {{form.tol.label(class="form-control-label")}} 
        {%if form.tol.errors%} 
        {{form.tol(class="form-control is-invalid")}}
        {%for error in form.tol.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.tol(class="form-control")}} 
        {%endif%}

        {{form.n_max.label(class="form-control-label")}} 
        {%if form.n_max.errors%} 
        {{form.n_max(class="form-control is-invalid")}}
        {%for error in form.n_max.errors%}
        <span>{{error}}</span>
        {%endfor%} 
        {%else%} {{form.n_max(class="form-control")}} 
        {%endif%}
      </div>
    </fieldset>
    <br />
    <div class="field-group">
      {{form.submit(class="btn btn-primary")}}
    </div>
  </form>
</div>
</div>
{% if result |length >0 %}
<div class="card mx-5 w-50">
  <div class="card-header">Result</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
          {% for i in range(result['x']|length) %}
            <div class="mx-1">
              $$x_{{i}} = {{result['x'][i]}}$$
            </div>
          {% endfor %}
      </li>
      <li class="list-group-item"><span class="fw-bold">Error </span>{{ result['error'] }}</li>
      <li class="list-group-item"><span class="fw-bold">Iterations: </span>[{{ result['iter'] }}]</li>
    </ul>
  </div>
</div>
{% endif %}
</div>

{%endblock content%}