{% extends 'layouts.html'%}

{%block content%}
<div class="linear">
    <div class="container">
      <div class="card">
        <div class="card-header text-center"><h2>Linear Equations</h2></div>
          <div class="card-body">
              <div class="list-group text-center">
                  <a href="{{url_for('r_gauss')}}"
                      class="list-group-item list-group-item-action">
                      Gauss Elimination
                  </a>
                  <a href="{{url_for('r_gauss_tot')}}"
                      class="list-group-item list-group-item-action">
                      Gauss Elimination (Complete Pivoting) 
                  </a>
                  <a href="{{url_for('r_gauss_par')}}"
                      class="list-group-item list-group-item-action">
                      Gauss Elimination (Partial Pivoting)
                  </a>
                  <a href="{{url_for('r_lu')}}"
                      class="list-group-item list-group-item-action">
                      LU Factorization SGE
                  </a>
                  <a href="{{url_for('r_lu_pp')}}"
                      class="list-group-item list-group-item-action">
                      LU Factorization EGPP
                  </a>
                  <a href="{{url_for('r_jacobi')}}"
                      class="list-group-item list-group-item-action">
                      Gauss-Jacobi
                  </a>
                  <a href="{{url_for('r_gseidel')}}"
                      class="list-group-item list-group-item-action">
                      Gauss-Seidel
                  </a>
                  <a href="{{url_for('r_sor')}}"
                      class="list-group-item list-group-item-action">
                      Successive Over-Relaxation
                  </a>
              </div>
          </div>
    </div>
  </div>

{%endblock content%}