{% extends 'layouts.html'%} {%block content%}

<div class="nonlinear">
  <div class="container">
    <div class="card">
      <div class="card-header text-center"><h2>Non-Linear Equations</h2></div>
        <div class="card-body">
            <div class="list-group text-center">
                <a href="{{url_for('incsearch')}}"
                    class="list-group-item list-group-item-action">
                    Incremental Searches
                </a>
                <a href="{{url_for('bisect')}}"
                    class="list-group-item list-group-item-action">
                    Bisection
                </a>
                <a href="{{url_for('frule')}}"
                    class="list-group-item list-group-item-action">
                    Fake Rule
                </a>
                <a href="{{url_for('fpoint')}}"
                    class="list-group-item list-group-item-action">
                    Fixed Point
                </a>
                <a href="{{url_for('newt')}}"
                    class="list-group-item list-group-item-action">
                    Newton Method
                </a>
                <a href="{{url_for('sec')}}"
                    class="list-group-item list-group-item-action">
                    Secant Method
                </a>
                <a href="{{url_for('mroots')}}"
                    class="list-group-item list-group-item-action">
                    Multiple Roots
                </a>
            </div>
        </div>
  </div>
</div>
{%endblock content%}
