{% extends 'layouts.html'%} {%block content%}
<div class="card-control mx-center">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="card">
      <div class="card-header text-center">
        <h1>Welcome!</h1>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Linear_subspaces_with_shading.svg/1200px-Linear_subspaces_with_shading.svg.png"
            class="d-block w-100"
          />
          <div class="card-img-overlay">
            <div class="card-header text-center">
              <span class="font-weight-bold">Linear Equations</span>
            </div>
            <div class="card special-card text-center">
              <p class="card-body font-weight-bold">Numerical Solution for Linear Equations</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://www.researchgate.net/profile/Petar-Mitic-3/publication/333990972/figure/fig2/AS:787504823300096@1564767189053/A-linear-relationship-between-environmental-pollution-and-income-Source-Authors.png"
            class="d-block w-100"
          />
          <div class="card-img-overlay">
            <div class="card-header text-center">
              <span class="font-weight-bold">Non-Linear</span>
            </div>
            <div class="card special-card text-center">
              <p class="card-body font-weight-bold">Numerical Solution for Non-Linear Equations</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://www.researchgate.net/profile/Petar-Mitic-3/publication/333990972/figure/fig2/AS:787504823300096@1564767189053/A-linear-relationship-between-environmental-pollution-and-income-Source-Authors.png"
            class="d-block w-100"
          />
          <div class="card-img-overlay">
            <div class="card-header text-center">
              <span class="font-weight-bold">Interpolation</span>
            </div>
            <div class="card special-card text-center">
              <p class="card-body font-weight-bold">Interpolation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{%endblock content%}
