{% extends 'layouts.html'%}

{%block content%}
<div class="interpol">
    <div class="container">
      <div class="card">
        <div class="card-header text-center"><h2>Interpolation</h2></div>
          <div class="card-body">
              <div class="list-group text-center">
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Vandermonde
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Divided Differences
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Lagrange
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Linear Spline
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Quadratic Spline
                  </a>
              </div>
          </div>
    </div>
  </div>

{%endblock content%}