{% extends 'layouts.html'%}

{%block content%}
<div class="linear">
    <div class="container">
      <div class="card">
        <div class="card-header text-center"><h2>Linear Equations</h2></div>
          <div class="card-body">
              <div class="list-group text-center">
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Gauss Elimination
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Gauss Elimination (Complete Pivoting) 
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Gauss Elimination (Partial Pivoting)
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      LU Factorization SGE
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      LU Factorization EGPP
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Gauss-Jacobi
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      Gauss-Seidel
                  </a>
                  <a href=""
                      class="list-group-item list-group-item-action">
                      SOR
                  </a>
              </div>
          </div>
    </div>
  </div>

{%endblock content%}